				<div id="north_africa">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!north_africa.color || north_africa.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="north_africa.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{north_africa.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="north_africa.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{north_africa.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="north_africa.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{north_africa.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="north_africa.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{north_africa.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="north_africa.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{north_africa.units}}
						</span>
					</div>
				</div>
				<div id="egypt">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!egypt.color || egypt.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="egypt.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{egypt.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="egypt.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{egypt.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="egypt.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{egypt.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="egypt.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{egypt.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="egypt.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{egypt.units}}
						</span>
					</div>
				</div>
				<div id="east_africa">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!east_africa.color || east_africa.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="east_africa.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{east_africa.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="east_africa.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{east_africa.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="east_africa.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{east_africa.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="east_africa.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{east_africa.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="east_africa.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{east_africa.units}}
						</span>
					</div>
				</div>
				<div id="central_africa">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!central_africa.color || central_africa.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="central_africa.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_africa.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="central_africa.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_africa.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="central_africa.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_africa.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="central_africa.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_africa.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="central_africa.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_africa.units}}
						</span>
					</div>
				</div>
				<div id="south_africa">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!south_africa.color || south_africa.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="south_africa.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{south_africa.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="south_africa.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{south_africa.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="south_africa.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{south_africa.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="south_africa.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{south_africa.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="south_africa.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{south_africa.units}}
						</span>
					</div>
				</div>
				<div id="madagascar">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!madagascar.color || madagascar.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="madagascar.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{madagascar.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="madagascar.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{madagascar.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="madagascar.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{madagascar.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="madagascar.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{madagascar.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="madagascar.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{madagascar.units}}
						</span>
					</div>
				</div>
