				<div id="north_africa" ng-if="!north_africa.color || north_africa.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="north_africa" ng-if="north_africa.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="north_africa" ng-if="north_africa.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="north_africa" ng-if="north_africa.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="north_africa" ng-if="north_africa.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="north_africa" ng-if="north_africa.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="egypt" ng-if="!egypt.color || egypt.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="egypt" ng-if="egypt.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="egypt" ng-if="egypt.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="egypt" ng-if="egypt.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="egypt" ng-if="egypt.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="egypt" ng-if="egypt.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="east_africa" ng-if="!east_africa.color || east_africa.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="east_africa" ng-if="east_africa.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="east_africa" ng-if="east_africa.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="east_africa" ng-if="east_africa.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="east_africa" ng-if="east_africa.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="east_africa" ng-if="east_africa.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="central_africa" ng-if="!central_africa.color || central_africa.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="central_africa" ng-if="central_africa.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="central_africa" ng-if="central_africa.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="central_africa" ng-if="central_africa.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="central_africa" ng-if="central_africa.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="central_africa" ng-if="central_africa.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="south_africa" ng-if="!south_africa.color || south_africa.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="south_africa" ng-if="south_africa.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="south_africa" ng-if="south_africa.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="south_africa" ng-if="south_africa.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="south_africa" ng-if="south_africa.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="south_africa" ng-if="south_africa.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="madagascar" ng-if="!madagascar.color || madagascar.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="madagascar" ng-if="madagascar.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="madagascar" ng-if="madagascar.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="madagascar" ng-if="madagascar.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="madagascar" ng-if="madagascar.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="madagascar" ng-if="madagascar.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
