				<div id="ural" ng-if="!ural.color || ural.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="ural" ng-if="ural.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="ural" ng-if="ural.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="ural" ng-if="ural.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="ural" ng-if="ural.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="ural" ng-if="ural.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="siberia" ng-if="!siberia.color || siberia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="siberia" ng-if="siberia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="siberia" ng-if="siberia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="siberia" ng-if="siberia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="siberia" ng-if="siberia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="siberia" ng-if="siberia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="yakutsk" ng-if="!yakutsk.color || yakutsk.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="yakutsk" ng-if="yakutsk.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="yakutsk" ng-if="yakutsk.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="yakutsk" ng-if="yakutsk.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="yakutsk" ng-if="yakutsk.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="yakutsk" ng-if="yakutsk.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="kamchatka" ng-if="!kamchatka.color || kamchatka.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="kamchatka" ng-if="kamchatka.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="kamchatka" ng-if="kamchatka.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="kamchatka" ng-if="kamchatka.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="kamchatka" ng-if="kamchatka.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="kamchatka" ng-if="kamchatka.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="irkutsk" ng-if="!irkutsk.color || irkutsk.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="irkutsk" ng-if="irkutsk.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="irkutsk" ng-if="irkutsk.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="irkutsk" ng-if="irkutsk.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="irkutsk" ng-if="irkutsk.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="irkutsk" ng-if="irkutsk.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="mongolia" ng-if="!mongolia.color || mongolia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="mongolia" ng-if="mongolia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="mongolia" ng-if="mongolia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="mongolia" ng-if="mongolia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="mongolia" ng-if="mongolia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="mongolia" ng-if="mongolia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="japan" ng-if="!japan.color || japan.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="japan" ng-if="japan.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="japan" ng-if="japan.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="japan" ng-if="japan.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="japan" ng-if="japan.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="japan" ng-if="japan.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="afghanistan" ng-if="!afghanistan.color || afghanistan.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="afghanistan" ng-if="afghanistan.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="afghanistan" ng-if="afghanistan.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="afghanistan" ng-if="afghanistan.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="afghanistan" ng-if="afghanistan.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="afghanistan" ng-if="afghanistan.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="china" ng-if="!china.color || china.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="china" ng-if="china.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="china" ng-if="china.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="china" ng-if="china.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="china" ng-if="china.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="china" ng-if="china.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="middle_east" ng-if="!middle_east.color || middle_east.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="middle_east" ng-if="middle_east.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="middle_east" ng-if="middle_east.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="middle_east" ng-if="middle_east.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="middle_east" ng-if="middle_east.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="middle_east" ng-if="middle_east.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="india" ng-if="!india.color || india.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="india" ng-if="india.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="india" ng-if="india.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="india" ng-if="india.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="india" ng-if="india.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="india" ng-if="india.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="southeast_asia" ng-if="!southeast_asia.color || southeast_asia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="southeast_asia" ng-if="southeast_asia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="southeast_asia" ng-if="southeast_asia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="southeast_asia" ng-if="southeast_asia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="southeast_asia" ng-if="southeast_asia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="southeast_asia" ng-if="southeast_asia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
