				<div id="ural">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!ural.color || ural.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="ural.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ural.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="ural.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ural.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="ural.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ural.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="ural.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ural.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="ural.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ural.units}}
						</span>
					</div>
				</div>
				<div id="siberia">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!siberia.color || siberia.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="siberia.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{siberia.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="siberia.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{siberia.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="siberia.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{siberia.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="siberia.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{siberia.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="siberia.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{siberia.units}}
						</span>
					</div>
				</div>
				<div id="yakutsk">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!yakutsk.color || yakutsk.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="yakutsk.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{yakutsk.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="yakutsk.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{yakutsk.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="yakutsk.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{yakutsk.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="yakutsk.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{yakutsk.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="yakutsk.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{yakutsk.units}}
						</span>
					</div>
				</div>
				<div id="kamchatka">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!kamchatka.color || kamchatka.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="kamchatka.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{kamchatka.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="kamchatka.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{kamchatka.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="kamchatka.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{kamchatka.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="kamchatka.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{kamchatka.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="kamchatka.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{kamchatka.units}}
						</span>
					</div>
				</div>
				<div id="irkutsk">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!irkutsk.color || irkutsk.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="irkutsk.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{irkutsk.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="irkutsk.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{irkutsk.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="irkutsk.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{irkutsk.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="irkutsk.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{irkutsk.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="irkutsk.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{irkutsk.units}}
						</span>
					</div>
				</div>
				<div id="mongolia">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!mongolia.color || mongolia.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="mongolia.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{mongolia.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="mongolia.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{mongolia.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="mongolia.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{mongolia.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="mongolia.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{mongolia.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="mongolia.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{mongolia.units}}
						</span>
					</div>
				</div>
				<div id="japan">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!japan.color || japan.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="japan.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{japan.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="japan.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{japan.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="japan.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{japan.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="japan.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{japan.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="japan.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{japan.units}}
						</span>
					</div>
				</div>
				<div id="afghanistan">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!afghanistan.color || afghanistan.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="afghanistan.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{afghanistan.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="afghanistan.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{afghanistan.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="afghanistan.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{afghanistan.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="afghanistan.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{afghanistan.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="afghanistan.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{afghanistan.units}}
						</span>
					</div>
				</div>
				<div id="china">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!china.color || china.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="china.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{china.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="china.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{china.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="china.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{china.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="china.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{china.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="china.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{china.units}}
						</span>
					</div>
				</div>
				<div id="middle_east">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!middle_east.color || middle_east.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="middle_east.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{middle_east.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="middle_east.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{middle_east.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="middle_east.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{middle_east.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="middle_east.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{middle_east.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="middle_east.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{middle_east.units}}
						</span>
					</div>
				</div>
				<div id="india">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!india.color || india.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="india.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{india.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="india.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{india.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="india.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{india.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="india.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{india.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="india.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{india.units}}
						</span>
					</div>
				</div>
				<div id="southeast_asia">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!southeast_asia.color || southeast_asia.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="southeast_asia.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{southeast_asia.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="southeast_asia.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{southeast_asia.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="southeast_asia.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{southeast_asia.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="southeast_asia.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{southeast_asia.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="southeast_asia.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{southeast_asia.units}}
						</span>
					</div>
				</div>
