				<div id="indonesia">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!indonesia.color || indonesia.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="indonesia.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{indonesia.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="indonesia.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{indonesia.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="indonesia.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{indonesia.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="indonesia.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{indonesia.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="indonesia.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{indonesia.units}}
						</span>
					</div>
				</div>
				<div id="guinea">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!guinea.color || guinea.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="guinea.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{guinea.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="guinea.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{guinea.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="guinea.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{guinea.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="guinea.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{guinea.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="guinea.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{guinea.units}}
						</span>
					</div>
				</div>
				<div id="western_australia">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!western_australia.color || western_australia.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="western_australia.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_australia.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="western_australia.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_australia.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="western_australia.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_australia.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="western_australia.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_australia.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="western_australia.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_australia.units}}
						</span>
					</div>
				</div>
				<div id="eastern_australia">
					<i 
						class="fa fa-flag-o circle-centered" 
						aria-hidden="true"
						ng-show="!eastern_australia.color || eastern_australia.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle"
						ng-show="eastern_australia.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_australia.units}}
						</span>
					</div>
					<div 
						class="greenCircle"
						ng-show="eastern_australia.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_australia.units}}
						</span>
					</div>
					<div 
						class="purpleCircle"
						ng-show="eastern_australia.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_australia.units}}
						</span>
					</div>
					<div 
						class="redCircle"
						ng-show="eastern_australia.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_australia.units}}
						</span>
					</div>
					<div 
						class="yellowCircle"
						ng-show="eastern_australia.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_australia.units}}
						</span>
					</div>
				</div>
