				<div id="indonesia" ng-if="!indonesia.color || indonesia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="indonesia" ng-if="indonesia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="indonesia" ng-if="indonesia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="indonesia" ng-if="indonesia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="indonesia" ng-if="indonesia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="indonesia" ng-if="indonesia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="guinea" ng-if="!guinea.color || guinea.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="guinea" ng-if="guinea.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="guinea" ng-if="guinea.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="guinea" ng-if="guinea.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="guinea" ng-if="guinea.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="guinea" ng-if="guinea.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="western_australia" ng-if="!western_australia.color || western_australia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="western_australia" ng-if="western_australia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="western_australia" ng-if="western_australia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="western_australia" ng-if="western_australia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="western_australia" ng-if="western_australia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="western_australia" ng-if="western_australia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="eastern_australia" ng-if="!eastern_australia.color || eastern_australia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="eastern_australia" ng-if="eastern_australia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="eastern_australia" ng-if="eastern_australia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="eastern_australia" ng-if="eastern_australia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="eastern_australia" ng-if="eastern_australia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="eastern_australia" ng-if="eastern_australia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
