				<div id="iceland" ng-if="!iceland.color || iceland.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="iceland" ng-if="iceland.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="iceland" ng-if="iceland.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="iceland" ng-if="iceland.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="iceland" ng-if="iceland.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="iceland" ng-if="iceland.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="scandinavia" ng-if="!scandinavia.color || scandinavia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="scandinavia" ng-if="scandinavia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="scandinavia" ng-if="scandinavia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="scandinavia" ng-if="scandinavia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="scandinavia" ng-if="scandinavia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="scandinavia" ng-if="scandinavia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="russia" ng-if="!russia.color || russia.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="russia" ng-if="russia.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="russia" ng-if="russia.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="russia" ng-if="russia.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="russia" ng-if="russia.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="russia" ng-if="russia.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="great_britain" ng-if="!great_britain.color || great_britain.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="great_britain" ng-if="great_britain.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="great_britain" ng-if="great_britain.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="great_britain" ng-if="great_britain.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="great_britain" ng-if="great_britain.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="great_britain" ng-if="great_britain.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="northern_europe" ng-if="!northern_europe.color || northern_europe.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="northern_europe" ng-if="northern_europe.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="northern_europe" ng-if="northern_europe.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="northern_europe" ng-if="northern_europe.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="northern_europe" ng-if="northern_europe.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="northern_europe" ng-if="northern_europe.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="western_europe" ng-if="!western_europe.color || western_europe.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="western_europe" ng-if="western_europe.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="western_europe" ng-if="western_europe.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="western_europe" ng-if="western_europe.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="western_europe" ng-if="western_europe.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="western_europe" ng-if="western_europe.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="southern_europe" ng-if="!southern_europe.color || southern_europe.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="southern_europe" ng-if="southern_europe.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="southern_europe" ng-if="southern_europe.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="southern_europe" ng-if="southern_europe.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="southern_europe" ng-if="southern_europe.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="southern_europe" ng-if="southern_europe.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
