						<div 
							class="row"
							ng-show="showLobby"
						>
							<div 
								id="gameLobby"
								class="col-md-12"
							>
								<div 
									class="row"
									ng-show="!gameShow"
								>
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-12 centerBelow">
												<span class="lobbyHead">
													Available Games
												</span>
											</div>
										</div>
										<div class="row">
											<div 
												class="col-md-12"
											>
												<div class="row">
													<div class="col-md-8 centerBelow">
														<span class="gameDetails pull-left">
															Game Creator
														</span>
													</div>
													<div class="col-md-4">
														<span class="gameDetails pull-right">
															Players
														</span>
													</div>
												</div>
												<hr/>
												<div 
													class="row clickable"
													ng-repeat="game in availGames"
													ng-click="showGame(game.id)"
													style="margin: 4px; border-radius: 8px; border: 1px solid blue;"
												>
													<div class="col-md-8">
														<span class="gameDetails pull-left">
															{{game.gameCreatorName}}
														</span>
													</div>
													<div class="col-md-4">
														<span class="gameDetails pull-right nowrap">
															{{game.playersCount}} / 5
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div 
									class="row"
									ng-show="gameShow"
								>
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-12 centerBelow">
												<span class="gameDetailsBig">
													{{game.gameCreatorName}}'s Game
												</span>
											</div>
										</div>
										<hr/>
										<div 
											class="row"
											ng-repeat="player in game.gamePlayers"
											ng-if="game.gamePlayers.length > 0"
											track by $index
										>
											<div class="col-md-12 centerBelow">
												<span class="gameDetails pull-left">
													{{$index + 1}}. {{player.username}}
												</span>
											</div>
										</div>
										<div 
											class="row"
											ng-if="!game.gamePlayers || game.gamePlayers.length < 1"
										>
											<div class="col-md-12 centerBelow">
												<span class="gameDetailsItal">
													No Players Joined
												</span>
											</div>
										</div>
										<hr/>
										<div
											class="row"
											id="joinGame"
											ng-if="joinPossible"
										>
											<div class="col-md-6 col-md-offset-3">
												<span 
													class="joinGame clickable"
													ng-click="joinGame(game)"
													style="color: blue;"
												>
													Join Game
												</span>
											</div>
										</div>
										<div
											class="row"
											id="goTo"
											ng-if="goToPossible"
										>
											<div class="col-md-6 col-md-offset-3">
												<span 
													class="goTo clickable"
													ng-click="goToGame(game.id)"
													style="color: blue;"
												>
													Go To Game
												</span>
											</div>
										</div>
										<div 
											class="row"
											id="gameChat"
										>
											<div class="col-md-12">
												<div 
													class="row"
													ng-repeat="chat in chats"
												>
													{{chat}}
												</div>
												<br/>
												<div class="row">
													<div class="col-md-12">
														<input id="newChatMsg" autocomplete="off" />
														<span 
															class="chatSend clickable"
															ng-click="chatSend(game.id)"
														>
															Send
														</span>
													</div>
												</div>
											</div>
										</div>
										<audio id="myAudio">
											<source src="http://45.58.37.37:8978/sounds/newMsg.mp3" type="audio/mpeg">
											Your browser does not support the audio element.
										</audio>
									</div>
								</div>
							</div>
						</div>
