		<div id="gameContainer">
			<div id="gameBoard"> 
				<!-- North America -->
				<ng-include src="'/templates/northAmerica.html'"></ng-include>
				<!-- South America -->
				<div id="venezuela">
				</div>
				<div id="peru">
				</div>
				<div id="brazil">
				</div>
				<div id="argentina">
				</div>
				<!-- Europe -->
				<div id="iceland">
				</div>
				<div id="scandinavia">
				</div>
				<div id="russia">
				</div>
				<div id="great_britain">
				</div>
				<div id="northern_europe">
				</div>
				<div id="western_europe">
				</div>
				<div id="southern_europe">
				</div>
				<div id="north_africa">
				</div>
				<div id="egypt">
				</div>
				<div id="east_africa">
				</div>
				<div id="central_africa">
				</div>
				<div id="south_africa">
				</div>
				<div id="madagascar">
				</div>
				<!-- Asia -->
				<div id="ural">
				</div>
				<div id="siberia">
				</div>
				<div id="yakutsk">
				</div>
				<div id="kamchatka">
				</div>
				<div id="irkutsk">
				</div>
				<div id="mongolia">
				</div>
				<div id="japan">
				</div>
				<div id="afghanistan">
				</div>
				<div id="china">
				</div>
				<div id="middle_east">
				</div>
				<div id="india">
				</div>
				<div id="southeast_asia">
				</div>
				<!-- Australia -->
				<div id="indonesia">
				</div>
				<div id="guinea">
				</div>
				<div id="western_australia">
				</div>
				<div id="eastern_australia">
				</div>
			</div>
			<div id="gamePanel">
				<div 
					id="gameCreate"
					class="clickable"
					ng-if="!gameExists || currentGameId.length < 16"
				>
					<span id="newGame" class="">New Game</span>
				</div>
				<div 
					id="gameStart"
					class="clickable"
					ng-if="gameExists && currentGameId.length > 15"
				>
					<span id="startGame" class="">Start Game</span>
				</div>
			</div>
		</div>
