		<div id="gameContainer">
			<div id="gameBoard"> 
				<!-- North America -->
				<div id="alaska">
				</div>
				<div id="northwest_territory">
				</div>
				<div id="greenland">
				</div>
				<div id="alberta">
				</div>
				<div id="ontario">
				</div>
				<div id="quebec">
				</div>
				<div id="western_us">
				</div>
				<div id="eastern_us">
				</div>
				<div id="central_america">
				</div>
				<!-- South America -->
				<div id="venezuela">
				</div>
				<div id="peru">
				</div>
				<div id="brazil">
				</div>
				<div id="argentina">
				</div>
			</div>
			<div id="gamePanel">
				&nbsp;
			</div>
		</div>
