		<div id="gameContainer">
			<div id="gameBoard"> 
				<!-- North America -->
				<ng-include src="'/templates/northAmerica.html'"></ng-include>
				<!-- South America -->
				<ng-include src="'/templates/southAmerica.html'"></ng-include>
				<!-- Europe -->
				<ng-include src="'/templates/europe.html'"></ng-include>
				<!-- Africa -->
				<ng-include src="'/templates/africa.html'"></ng-include>
				<!-- Asia -->
				<ng-include src="'/templates/asia.html'"></ng-include>
				<!-- Australia -->
				<ng-include src="'/templates/australia.html'"></ng-include>
			</div>
			<div 
				id="gameMenu"
				ng-show="showMenu"
			>
				<div 
					id="menuClose"
					class="clickable"
				>
					<span 
						id="" 
						class=""
						ng-click="menuClose()"
					>
						Close Menu
					</span>
				</div>
			</div>
			<div id="gamePanel">
				<div 
					id="gameCreate"
					class="clickable"
					ng-if="!gameExists || currentGameId.length < 16"
				>
					<span id="newGame" class="">New Game</span>
				</div>
				<div 
					id="gameStart"
					class="clickable"
					ng-if="gameExists && currentGameId.length > 15"
				>
					<span id="startGame" class="">Start Game</span>
				</div>
			</div>
		</div>
