				<div id="alaska">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!alaska.color || alaska.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="alaska.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alaska.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="alaska.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alaska.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="alaska.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alaska.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="alaska.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alaska.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="alaska.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alaska.units}}
						</span>
					</div>
				</div>
				<div id="northwest_territory">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!northwest_territory.color || northwest_territory.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="northwest_territory.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{northwest_territory.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="northwest_territory.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{northwest_territory.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="northwest_territory.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{northwest_territory.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="northwest_territory.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{northwest_territory.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="northwest_territory.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{northwest_territory.units}}
						</span>
					</div>
				</div>
				<div id="greenland">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!greenland.color || greenland.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="greenland.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{greenland.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="greenland.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{greenland.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="greenland.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{greenland.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="greenland.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{greenland.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="greenland.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{greenland.units}}
						</span>
					</div>
				</div>
				<div id="alberta">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!alberta.color || alberta.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="alberta.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alberta.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="alberta.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alberta.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="alberta.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alberta.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="alberta.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alberta.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="alberta.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{alberta.units}}
						</span>
					</div>
				</div>
				<div id="ontario">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!ontario.color || ontario.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="ontario.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ontario.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="ontario.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ontario.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="ontario.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ontario.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="ontario.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ontario.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="ontario.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{ontario.units}}
						</span>
					</div>
				</div>
				<div id="quebec">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!quebec.color || quebec.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="quebec.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{quebec.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="quebec.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{quebec.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="quebec.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{quebec.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="quebec.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{quebec.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="quebec.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{quebec.units}}
						</span>
					</div>
				</div>
				<div id="western_us">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!western_us.color || western_us.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="western_us.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_us.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="western_us.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_us.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="western_us.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_us.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="western_us.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_us.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="western_us.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{western_us.units}}
						</span>
					</div>
				</div>
				<div id="eastern_us">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!eastern_us.color || eastern_us.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="eastern_us.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_us.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="eastern_us.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_us.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="eastern_us.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_us.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="eastern_us.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_us.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="eastern_us.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{eastern_us.units}}
						</span>
					</div>
				</div>
				<div id="central_america">
					<i 
						class="fa fa-flag-o circle-centered clickable" 
						aria-hidden="true"
						ng-show="!central_america.color || central_america.color === ''"
						ng-click="territoryClaim($event)"
					></i>
					<div 
						class="blueCircle clickable"
						ng-show="central_america.color === 'blue'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_america.units}}
						</span>
					</div>
					<div 
						class="greenCircle clickable"
						ng-show="central_america.color === 'green'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_america.units}}
						</span>
					</div>
					<div 
						class="purpleCircle clickable"
						ng-show="central_america.color === 'purple'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_america.units}}
						</span>
					</div>
					<div 
						class="redCircle clickable"
						ng-show="central_america.color === 'red'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_america.units}}
						</span>
					</div>
					<div 
						class="yellowCircle clickable"
						ng-show="central_america.color === 'yellow'"
						ng-click="territoryMenu($event)"
					>
						<span class="territoryUnits">
							{{central_america.units}}
						</span>
					</div>
				</div>
