				<div id="alaska" ng-if="!alaska.color || alaska.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="alaska" ng-if="alaska.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="alaska" ng-if="alaska.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="alaska" ng-if="alaska.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="alaska" ng-if="alaska.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="alaska" ng-if="alaska.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="northwest_territory" ng-if="!northwest_territory.color || northwest_territory.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="northwest_territory" ng-if="northwest_territory.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="northwest_territory" ng-if="northwest_territory.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="northwest_territory" ng-if="northwest_territory.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="northwest_territory" ng-if="northwest_territory.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="northwest_territory" ng-if="northwest_territory.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="greenland" ng-if="!greenland.color || greenland.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="greenland" ng-if="greenland.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="greenland" ng-if="greenland.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="greenland" ng-if="greenland.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="greenland" ng-if="greenland.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="greenland" ng-if="greenland.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="alberta" ng-if="!alberta.color || alberta.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="alberta" ng-if="alberta.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="alberta" ng-if="alberta.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="alberta" ng-if="alberta.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="alberta" ng-if="alberta.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="alberta" ng-if="alberta.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="ontario" ng-if="!ontario.color || ontario.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="ontario" ng-if="ontario.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="ontario" ng-if="ontario.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="ontario" ng-if="ontario.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="ontario" ng-if="ontario.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="ontario" ng-if="ontario.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="quebec" ng-if="!quebec.color || quebec.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="quebec" ng-if="quebec.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="quebec" ng-if="quebec.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="quebec" ng-if="quebec.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="quebec" ng-if="quebec.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="quebec" ng-if="quebec.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="western_us" ng-if="!western_us.color || western_us.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="western_us" ng-if="western_us.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="western_us" ng-if="western_us.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="western_us" ng-if="western_us.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="western_us" ng-if="western_us.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="western_us" ng-if="western_us.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="eastern_us" ng-if="!eastern_us.color || eastern_us.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="eastern_us" ng-if="eastern_us.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="eastern_us" ng-if="eastern_us.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="eastern_us" ng-if="eastern_us.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="eastern_us" ng-if="eastern_us.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="eastern_us" ng-if="eastern_us.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="central_america" ng-if="!central_america.color || central_america.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="central_america" ng-if="central_america.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="central_america" ng-if="central_america.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="central_america" ng-if="central_america.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="central_america" ng-if="central_america.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="central_america" ng-if="central_america.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
