				<div id="venezuela" ng-if="!venezuela.color || venezuela.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="venezuela" ng-if="venezuela.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="venezuela" ng-if="venezuela.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="venezuela" ng-if="venezuela.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="venezuela" ng-if="venezuela.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="venezuela" ng-if="venezuela.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="peru" ng-if="!peru.color || peru.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="peru" ng-if="peru.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="peru" ng-if="peru.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="peru" ng-if="peru.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="peru" ng-if="peru.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="peru" ng-if="peru.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="brazil" ng-if="!brazil.color || brazil.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="brazil" ng-if="brazil.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="brazil" ng-if="brazil.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="brazil" ng-if="brazil.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="brazil" ng-if="brazil.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="brazil" ng-if="brazil.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
				<div id="argentina" ng-if="!argentina.color || argentina.color === ''">
					<i class="fa fa-flag-o circle-centered" aria-hidden="true"></i>
				</div>
				<div id="argentina" ng-if="argentina.color === 'blue'">
					<div class="blueCircle">
					</div>
				</div>
				<div id="argentina" ng-if="argentina.color === 'green'">
					<div class="greenCircle">
					</div>
				</div>
				<div id="argentina" ng-if="argentina.color === 'purple'">
					<div class="purpleCircle">
					</div>
				</div>
				<div id="argentina" ng-if="argentina.color === 'red'">
					<div class="redCircle">
					</div>
				</div>
				<div id="argentina" ng-if="argentina.color === 'yellow'">
					<div class="yellowCircle">
					</div>
				</div>
